/****start color-option****/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu >li> a:hover,
.dropdown-menu >li> a:focus,
.carousel-indicators .active
{
    background-color: bisque;
}
.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.statistics h1,
.statistics .data:hover,
.price-tabel .price-box p,
.footer .copyright span
{
    color: bisque;
}
.testimonials .carousel-indicators .active
{
    
    border: 3px solid bisque;
}
.dropdown-menu
{
    
    border-top: 3px solid bisque;
}